/* Fonts for the calendar app. */
@font-face {
  font-family: 'calFont';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PressStart2P.ttf');
}

@font-face {
  font-family: 'calFontSmall_Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Play-Bold.ttf');
}

@font-face {
  font-family: 'calFontSmall';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Play-Regular.ttf');
}

/* the calendar top bar menu */
#becalTopMenuDiv
{
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #FFFFFA;
	font-weight: bolder;
	font-size: 26pt;
	padding-top: 10px;
}

/* the actual calendar content */
#becalContentDiv
{
	position: relative;
	width: 100%;
	height: 100%;
}

/* the overlay with the UI stuff on it. */
#becalOverlayDiv
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
	pointer-events: none;
}

/* the name of the month on the top. */
#becalUITopbarDateName
{
	position: absolute;
	left: 10px;
	top: 10px;
}

/* herein are the advancer buttons. */
#becalUITopbarAdvancer
{
	position: absolute;
	right: 10px;
	top: 10px;
}

/* the color picker position on the edit entry window. */
#becalUIEntryColorPickerDiv
{
	position: relative;
	left: 10px;
	top: 10px;
}


/* The checkbox and title for the todo/event selector. */
#todocheckboxdiv
{
	font-family: 'calFont';
	position: absolute;
	top: 80px;
	width: 150px;
	right: 10px;
	height: 30px;
	color: inherit;
	/*border: 1px solid #FFA000;*/
}
#todocheckboxdiv:hover
{
	color: #FFAA00 !important;
}

.todoname:after {content: "Todo";}
.eventname:after {content: "Event";}
.TodoCheckName
{
	position: absolute;
	top: 7px;
	right: 0px;
	/*color: #FFFFFA;*/
	padding-left: 10px;
	font-size: 16pt;
}

/* The checkbox to switch between todos and calendar on the edit entry window. */
input[type=checkbox].check-todo
{
	position: absolute;
	top: -10px;
	right: 100px;
	
	appereance: none;
    -webkit-appearance:none;
	
	font-family: 'calFont';

    border: 0;

    background-color: transparent;
    color:#3333FF;
    white-space: nowrap;
    overflow:hidden;

    width:40px;
    height:30px;
	padding: 0;
	margin: 0;
	font-size: 20pt;
	margin-left: 10px;
	margin-top: 10px;
}


input[type=checkbox]:checked.check-todo {
    /*background-color:#000;*/
	color: #33FF33;
	background-color: transparent;
	top: -10px;
	right: 80px;
	border: 0;
}

input[type=checkbox]:hover.check-todo {
	color: #FFAA00;
    background-color: transparent;
}


/* The TODO checkbox content. */
input[type=checkbox].check-todo:after
{
	content: '\1F4C5';
}

input[type=checkbox]:checked:after 
{
	content: '\2714';
}

/* font settings of the input with the title of the event on the create entry window. 
	also the title of the show entry window. */
.becalInputEventName
{
	position: absolute;
	top: 0px;
	left: 52px;
	width: 380px;
	font-family: 'calFont', sans-serif;
	font-size: 15pt;
	color: #FFFFFA;
	padding-top: 15px;	
	background-color: transparent;
	border: 0;
}

/* div with the duration of the event in the edit entry window. */
.becalEntryDurationDiv
{
	position: absolute;
	left: 10px;
	top: 130px;
}

/* these are the date and time pickers on the create entry window. */
.becalInputDate, .becalInputTime
{
	width: 200px;
	color: #FFFFFA;
	background-color: transparent;
	border: 0;
	text-align: center;
}

/* Date picker. */
.becalInputDate
{
	font-family: 'calFontSmall_Bold', sans-serif;
	font-size: 13pt;
}

/* time picker. */
.becalInputTime
{
	padding-top: 5px;
	font-family: 'calFont', sans-serif;
	font-size: 28pt;
}

/* mouseover over a date input. */
.becalInputMouseOver:hover
{
	cursor: pointer;
	background-color: #336633;
	border: 0;
}

/* div with the save/edit/cancel buttons on the entry/show field. */
.becalEditButtonDiv
{
	position: absolute;
	right: 10px;
	top: 135px;
}

/* the line between the two dates. */
.becalInputMiddlestrich
{
	text-align: center;
	width: 86px;
	font-size: 30pt;
}

.becalInputMiddleStrich:after {content: '\27A0';}

/* show either the start date to edit or a text "To do until:" when it is a todo. */
#becalTodoTextView
{
	font-size: 20pt;
	text-align: right;
	width: 200px;
	/*border: 1px solid #ffff00;*/
	height: 65px;
	padding-top: 10px;
	margin: 0;
}

#becalTodoTextView:after
{
	content: "Abgabe datum";
}

#becalStartDateView
{
	/*border: 1px solid #ff0000;*/
	width: 200px;
	height: 75px;
}

/* an ok button. */
.becalOkBtn, .becalOkBtn:visited
{
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	background-color: #113311;
	color: #FFFFFA;
	border: 2px solid #333366;
	border-radius: 5px;
}

.becalOkBtn:hover
{
	text-decoration: none;
	background-color: #336633;
}

/* a "bad" button, like for deletion of stuff or such. */
.becalBadBtn, .becalBadBtn:visited
{
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	background-color: #331111;
	color: #FFFFFA;
	border: 2px solid #333366;
	border-radius: 5px;
}

.becalBadBtn:hover
{
	text-decoration: none;
	background-color: #663333;
}

/* this button has an edit pencil in it. */
.becalEditBtn
{
	width: 40px;
	height: 40px;
	padding: 0px !important;
	border-radius: 20px !important;
	background-image: url("../img/edit.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* this button has an ok check thingy in it . */
.becalHakenBtn
{
	width: 40px;
	height: 40px;
	padding: 0px !important;
	border-radius: 20px !important;
	background-image: url("../img/haken.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* this button has a cross in it. */
.becalKreuzBtn
{
	width: 40px;
	height: 40px;
	padding: 0px !important;
	border-radius: 20px !important;
	background-image: url("../img/kreuz.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* this button has a red pencil rubber in it. */
.becalDeleteBtn
{
	width: 40px;
	height: 40px;
	padding: 0px !important;
	border-radius: 20px !important;
	background-image: url("../img/delete.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* the advance buttons. */
.becalAdvanceBtn {color: #FFFFFA; text-decoration: none;}
.becalAdvanceBtn:hover {color: #FFAA00;}

/* "a" button */
.becalBtn 
{
	border: 1px solid #FFFFFA;
	border-radius: 4px;
	padding: 5px;
	font-size: 12pt;
	background-color: #333355;
}

.becalBtn:hover
{
	background-color: #FFAA00;
	color: #333355;
}

/* becalField is an unspecific field on the table, becalDayField is a day field on the table. */
.becalField, .becalDayField
{
	position: absolute;
	display: block;
	border-right: 1px solid #FFFFFA;
	/*width: 14.2%;*/
	width: 1px; /*will be set by code */
}

.becalField 
{
	/*height: 18%;*/
	font-size: 10pt;
	border-bottom: 1px solid #FFFFFA;
}

/* don't show borders on the left, right, top and bottom fields. */
.becalLastCalField {border-right: 0px;}
.becalLowestCalField {border-bottom: 0px;}

/* the today field */
.becalToday
{
	color: #FFFF33;
	background-color: #333366;
	border-top: 1px solid #FFFFFA;
}

/* specific settins for the day fields. */
.becalDayField 
{
	height: 25px;
	font-weight: bolder;
	border-bottom: 1px dashed #FF0000;
	font-size: 14pt;
	/*padding-top: 5px;*/
}

/* the bottom line with the status in it. */
#becalStatusDiv
{
	width: 100%;
	bottom: 0px;
	left: 0px;
	height: 25px;
	font-weight: bolder;
	font-size: 14pt;
	position: absolute;
}

.becalStatusOn
{
	background-image: url('../img/semitransparentbg.png');	
	border-top: 1px solid #FF0000;
}

.becalStatusOff
{
	background-image: none;
	border-top: 1px solid #FFFFFF;
}

#statusadvancer
{
	position: absolute;
	top: 5px;
	left: 0px;
}

/* the number of the day in a field. */
.becalDayNumber
{
	position: absolute;
	top: 5px;
	left: 0px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

/* the link with the hidden events on a date field. */
.becalDayHiddenEvents
{
	position: absolute;
	bottom: 0px;
	height: 20px;
	text-align: right;
	width: 100%;
	overflow: hidden;
	background-color: transparent;
	z-index: 5;
	cursor: pointer;
}
.becalDayHiddenEventContent
{
	position: absolute;
	text-align: right;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.becalDayHiddenEvents:hover
{
	background-color: 336633;
}

/* a calender event bar. */
.becalEventBar
{
	position: absolute;
	/*border: 1px solid #FFFF00;*/
	z-index: 5;
	font-family: 'calFontSmall', sans-serif;
	font-size: 8pt;
	border-right: 0;
	border-left: 0;
	padding-left: 5px;
	overflow: hidden;
	cursor: pointer;
}

/* marker at begin and end of an event. */
.becalEventMarker
{
	border-radius: 7px;
	z-index: 3;
	cursor: pointer;
}

/* mouse action classes for an event. */
.becalEventMouseOver
{
	border: 2px solid #FFFFFA;
}

.becalEventMouseOut {border: 2px solid #666699; }

/* no border at the edges. */
.becalEventNoBorder
{
	border-left: 0;
	border-right: 0;
}

/* an event in the hidden event window. */
.becalHiddenEvent
{
	position: relative;
	width: 172px;
	z-index: 5;
	border: 2px solid #666699;
	font-family: 'calFontSmall', sans-serif;
	font-size: 8pt;
	padding-left: 5px;
	overflow: hidden;
	border-radius: 7px;
	margin-top: 1px;
}
.becalHiddenEvent:hover {border: 2px solid #FFFFFA;}
/* div with the hidden events in it. */

#becalOtherEntriesDiv
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* SPECIFICS FOR SINGLE WINDOWS. */

/* top bar of entry window */
#becalEditEntryWindow .jdwindow-top
{
	height: 50px !important;
}

#becalEditEntryWindow .jdwindow-top:hover
{
	background-color: #336633;
}

/* top icon of entry window */
#becalEditEntryWindow .jdwindow-hide
{
	font-family: "calFont", sans-serif;	
	font-size: 25pt !important;
	padding-left: 17px !important;
	padding-top: 8px !important;
	width: 50px !important;
	height: 42px !important;
}

/*#createEntryWindow .jdwindow-hide,*/
#becalEditEntryWindow .jdwindow-hide-clicker,
{
	width: 50px !important;
	height: 50px !important;
	padding-left: 17px;
}

/* the div with the buttons on the intermediary todo window. */
.intermediaryTodoButtons
{
	position: absolute;
	top: 10px;
	left: 10px;
}

/* a todo entry in the todo view. */
.becalTodo
{
	position: relative;
	left: 0px;
	width: 100%;
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	padding-bottom: 3px;
	padding-top: 3px;
	cursor: pointer;
	/*border: 1px solid #FF0000;*/
	background-image: url('../img/semitransparentbg.png');
	/*border-bottom: 1px solid #FFAA00;*/
}

/* hovering over a todo item */
.becalTodo:hover
{
	background-color: #000033;
}

.becalTodo:hover > .becalTodoText,
.becalTodo > .kreuz:hover,
.becalTodo > .haken:hover
{
	color: #FFAA00 !important;
}

.becalTodoText
{
	margin-left: 30px;
}

.becalTodoDone
{
	text-decoration: line-through;
	color: #AAFFAA;
}

.becalTodoNotDone
{
	text-decoration: none;
	color: FFFFFA;
}
