@font-face {
  font-family: 'calFont';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PressStart2P.ttf');
}

@font-face {
  font-family: 'calFontSmall_Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Play-Bold.ttf');
}

@font-face {
  font-family: 'calFontSmall';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Play-Regular.ttf');
}

html, body
{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	font-family: 'calFont', sans-serif;
}

body
{
	background-color: #111133;
	color: #FFFFFA;
}

/* calField is an unspecific field on the table, calDayField is a day field on the table. */
.calField, .calDayField
{
	position: absolute;
	display: block;
	border-right: 1px solid #FFFFFA;
	/*width: 14.2%;*/
	width: 1px; /*will be set by code */
}

.calField 
{
	/*height: 18%;*/
	font-size: 10pt;
	border-bottom: 1px solid #FFFFFA;
}

/* don't show borders on the left, right, top and bottom fields. */
.lastCalField {border-right: 0px;}
.lowestCalField {border-bottom: 0px;}

/* the today field */
.calToday
{
	color: #FFFF33;
	background-color: #333366;
	border-top: 1px solid #FFFFFA;
}

.calDayField 
{
	height: 25px;
	font-weight: bolder;
	border-bottom: 1px dashed #FF0000;
	font-size: 14pt;
	/*padding-top: 5px;*/
}

/* the number of the day in a field. */
.calDayNumber
{
	position: absolute;
	top: 5px;
	left: 0px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

/* the link with the hidden events. */
.calDayHiddenEvents
{
	position: absolute;
	bottom: 0px;
	height: 20px;
	text-align: right;
	width: 100%;
	overflow: hidden;
	background-color: transparent;
	z-index: 5;
}
.calDayHiddenEventContent
{
	position: absolute;
	text-align: right;
	top: 5px;
	right: 5px;
}
.calDayHiddenEvents:hover
{
	background-color: 336633;
}

/* the whole content */
#content
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* the calendar menu */
#calMenu
{
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #FFFFFA;
	font-weight: bolder;
	font-size: 26pt;
	padding-top: 10px;
}

/* the actual calendar content */
#calContent
{
	position: relative;
	width: 100%;
	height: 100%;
}

/* the overlay with the UI stuff on it. */
#calOverlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
	pointer-events: none;
}

/* div with the duration of the event. */
.calEntryDurationDiv
{
	position: absolute;
	left: 10px;
	top: 130px;
}

/* the color picker position on the entry window. */
#calEntryColorPickerDiv
{
	position: relative;
	left: 10px;
	top: 10px;
}

/* div with the save/edit/cancel buttons on the entry/show field. */
.calEntryButtons
{
	position: absolute;
	right: 10px;
	top: 120px;
}

/* an ok button. */
.okBtn, okBtn:visited
{
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	background-color: #113311;
	color: #FFFFFA;
	border: 2px solid #333366;
	border-radius: 5px;
}

.okBtn:hover
{
	text-decoration: none;
	background-color: #336633;
}

/* this button has an edit pencil in it. */
.editBtn
{
	width: 44px;
	height: 44px;
	padding: 0px !important;
	border-radius: 22px !important;
	background-image: url("../img/edit.png");
	background-repeat: no-repeat;
	background-position: center;
}

/* the name of the month on the top. */
#calMonthName
{
	position: absolute;
	left: 10px;
	top: 10px;
}

/* herein are the advancer buttons. */
#calMonthAdvancer
{
	position: absolute;
	right: 10px;
	top: 10px;
}

/* font settings of the input with the title of the event on the create entry window. 
	also the title of the show entry window. */
.calTitleName
{
	font-family: 'calFont', sans-serif;
	font-size: 15pt;
	color: #FFFFFA;
	padding-top: 15px;	
	background-color: transparent;
	border: 0;
}

/* this is the specific input for the title. */
#calInputName
{
	width: 80%;
}

/* a date picker input. */
.centered {margin: 0 auto;}

/* these are the date and time pickers on the create entry window. */
.calInputDate, .calInputTime
{
	width: 200px;
	color: #FFFFFA;
	background-color: transparent;
	border: 0;
	text-align: center;
}

.calInputMiddlestrich
{
	text-align: center;
	width: 86px;
}

.calInputDate
{
	font-family: 'calFontSmall_Bold', sans-serif;
	font-size: 13pt;
}

.calInputTime
{
	padding-top: 5px;
	font-family: 'calFont', sans-serif;
	font-size: 28pt;
}

/* mouseover over a date input. */
.calInputMouseOver:hover
{
	cursor: pointer;
	background-color: #336633;
	border: 0;
}

/* a calender event bar. */
.calEventBar
{
	position: absolute;
	/*border: 1px solid #FFFF00;*/
	z-index: 5;
	font-family: 'calFontSmall', sans-serif;
	font-size: 8pt;
	border-right: 0;
	border-left: 0;
	padding-left: 5px;
	overflow: hidden;
}

/* marker at begin and end of an event. */
.calEventMarker
{
	border-radius: 7px;
	z-index: 3;
}

/* mouse action classes for an event. */
.calEventMouseOver
{
	border: 2px solid #FFFFFA;
}

.calEventMouseOut {border: 2px solid #666699; }

/* an event in the hidden event window. */
.calHiddenEvent
{
	position: relative;
	width: 190px;
	z-index: 5;
	border: 2px solid #666699;
	font-family: 'calFontSmall', sans-serif;
	font-size: 8pt;
	padding-left: 5px;
	overflow: hidden;
	border-radius: 7px;
	margin-top: 1px;
}
.calHiddenEvent:hover {border: 2px solid #FFFFFA;}

/* no border at the edges. */
.calEventNoBorder
{
	border-left: 0;
	border-right: 0;
}

/* the advance month button. */
.advBtn {color: #FFFFFA; text-decoration: none;}
.advBtn:hover {color: #FFAA00;}
.calBtn 
{
	border: 1px solid #FFFFFA;
	border-radius: 4px;
	padding: 5px;
	font-size: 12pt;
	background-color: #333355;
}

.calBtn:hover
{
	background-color: #FFAA00;
	color: #333355;
}

/* SPECIFICS FOR SINGLE WINDOWS. */

/* top bar of entry window */
#createEntryWindow .jdwindow-top, #showEntryWindow .jdwindow-top
{
	height: 50px !important;
}

#createEntryWindow .jdwindow-top:hover
{
	background-color: #336633;
}

/* top icon of entry window */
#createEntryWindow .jdwindow-hide, #showEntryWindow .jdwindow-hide
{
	font-family: "calFont", sans-serif;	
	font-size: 25pt !important;
	padding-left: 17px !important;
	padding-top: 8px !important;
	width: 50px !important;
	height: 42px !important;
}

/*#createEntryWindow .jdwindow-hide,*/
#createEntryWindow .jdwindow-hide-clicker, , #showEntryWindow .jdwindow-hide-clicker
{
	width: 50px !important;
	height: 50px !important;
	padding-left: 17px;
}

/* div with the hidden events in it. */
#otherEntriesDiv
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
