html, body
{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	font-family: 'calFont', sans-serif;
}

body
{
	background-color: #111133;
	color: #FFFFFA;
}

/* the whole content */
#content
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* this one blocks the whole content when someting will be made with the db. */
#blocker
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #663300;
	background: url('../img/blocker_background.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 10000;
	overflow: hidden;
}

#blockercontent
{ 
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	text-align: center;
}
