@font-face {
  font-family: 'calFont';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PressStart2P.ttf');
}

@font-face {
  font-family: 'calFont2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Play-Bold.ttf');
}

html, body
{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	font-family: 'calFont', sans-serif;
}

body
{
	background-color: #111133;
	color: #FFFFFA;
}

/* calField is an unspecific field on the table, calDayField is a day field on the table. */
.calField, .calDayField
{
	position: absolute;
	display: block;
	border-right: 1px solid #FFFFFA;
	/*width: 14.2%;*/
	width: 1px; /*will be set by code */
}

.calField 
{
	/*height: 18%;*/
	font-size: 10pt;
	border-bottom: 1px solid #FFFFFA;
}

/* don't show borders on the left, right, top and bottom fields. */
.lastCalField {border-right: 0px;}
.lowestCalField {border-bottom: 0px;}

/* the today field */
.calToday
{
	background-color: #336633;
	border-top: 1px solid #FFFFFA;
}

.calDayField 
{
	height: 25px;
	font-weight: bolder;
	border-bottom: 1px dashed #FF0000;
	font-size: 14pt;
	/*padding-top: 5px;*/
}

/* the number of the day in a field. */
.calDayNumber
{
	margin-top: 5px;
}

/* the whole content */
#content
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* the calendar menu */
#calMenu
{
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #FFFFFA;
	font-weight: bolder;
	font-size: 26pt;
	padding-top: 10px;
}

/* the actual calendar content */
#calContent
{
	position: relative;
	width: 100%;
	height: 100%;
}

/* the overlay with the UI stuff on it. */
#calOverlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
	pointer-events: none;
}

/* div with the save button on the entry field. */
#calEntryButtons
{
	position: absolute;
	right: 10px;
	top: 130px;
}

.okBtn, okBtn:visited
{
	text-decoration: none;
	padding: 10px;
	background-color: #113311;
	color: #FFFFFA;
	border: 2px solid #333366;
	border-radius: 5px;
}

.okBtn:hover
{
	text-decoration: none;
	background-color: #336633;
}

/* the name of the month on the top. */
#calMonthName
{
	position: absolute;
	left: 10px;
	top: 10px;
}

/* herein are the advancer buttons. */
#calMonthAdvancer
{
	position: absolute;
	right: 10px;
	top: 10px;
}

/* this is the window where you can make an entry. */
/*#createEntryWindow
{
	position: absolute;
	top: 100px;
	left: 200px;
	width: 300px;
	height: 200px;
	z-index: 100;
	background-color: #111133;
	border: 2px solid #FFFFFA;
	border-radius: 5px;
}*/

/* the input with the title of the event on the create entry window. */
#calInputName
{
	font-family: 'calFont', sans-serif;
	font-size: 15pt;
	background-color: transparent;
	color: #FFFFFA;
	border: 0;
	padding-top: 15px;
	width: 80%;
}

/* a date picker input. */
.centered {margin: 0 auto;}

/* these are the date and time pickers on the create entry window. */
.calInputDate, .calInputTime
{
	width: 200px;
	color: #FFFFFA;
	background-color: transparent;
	border: 0;
	text-align: center;
	cursor: pointer;
}

.calInputMiddlestrich
{
	text-align: center;
	width: 86px;
}

.calInputDate
{
	font-family: 'calFont2', sans-serif;
	font-size: 13pt;
}

.calInputTime
{
	padding-top: 5px;
	font-family: 'calFont', sans-serif;
	font-size: 28pt;
}

.calInputDate:hover, .calInputTime:hover
{
	background-color: #336633;
	border: 0;
	/*border: 2px solid #AAFFAA;
	border-top: 2px solid #77CC77;
	border-left: 2px solid #77CC77;*/
}

/* a calender event bar. */
.calEventBar
{
	position: absolute;
	/*border: 1px solid #FFFF00;*/
	z-index: 5;
	font-family: 'calFont2', sans-serif;
	font-size: 10pt;
	border: 2px solid #666699;
	border-right: 0;
	border-left: 0;
	padding-left: 5px;
}

/* marker at begin and end of an event. */
.calEventMarker
{
	border-radius: 7px;
	z-index: 3;
	border: 2px solid #666699;
}

/* the advance month button. */
.advBtn {color: #FFFFFA; text-decoration: none;}
.advBtn:hover {color: #FFAA00;}
.calBtn 
{
	border: 1px solid #FFFFFA;
	border-radius: 4px;
	padding: 5px;
	font-size: 12pt;
	background-color: #333355;
}

.calBtn:hover
{
	background-color: #FFAA00;
	color: #333355;
}

/* SPECIFICS FOR SINGLE WINDOWS. */

/* top bar of entry window */
#createEntryWindow .jdwindow-top
{
	height: 50px !important;
}

#createEntryWindow .jdwindow-top:hover
{
	background-color: #336633;
}

/* top icon of entry window */
#createEntryWindow .jdwindow-hide
{
	font-size: 25pt !important;
	padding-left: 17px !important;
	padding-top: 8px !important;
	font-family: "calFont", sans-serif;
	width: 50px !important;
	height: 42px !important;
}

/*#createEntryWindow .jdwindow-hide,*/
#createEntryWindow .jdwindow-hide-clicker
{
	width: 50px !important;
	height: 50px !important;
	padding-left: 17px;
}
